.list {
    text-decoration: none;
    list-style: none;
}


.list__container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .7rem;
}


.font__title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}